section.section.section--about
      .wrapper.wrapper--flex
          .about
            .about__left
              .about__avatar
                include ../blocks/avatar.pug
              table.info
                tr.info__item
                  td.info__arg  Проживаю:
                  td.info__val  Санкт-Петербург
                tr.info__item
                  td.info__arg  Возраст:
                  td.info__val  23
                tr.info__item
                  td.info__arg  Родился:
                  td.info__val  25 февраля 1996
            .about__right
              .about__intro Привет, меня зовут
              .about__name Станислав Савиных
              .about__desc Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              .about__note Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
