section.section.section--auto#section-5
        .wrapper
          .sectionTitle.sectionTitle--margin Связаться со мной
          form.feedback#feedback(action="")
            .feedback__row
              .feedback__field.feedback__field--smol
                .feedback__title Введите ваше имя
                .feedback__inputWrapper.feedback__inputWrapper--user
                  input.feedback__input#feedbackname(type="text" placeholder="Станислав Савиных")
                  .feedback__error
                    .errorform Заполните поле
              .feedback__field.feedback__field--smol
                .feedback__title Введите ваш Email
                .feedback__inputWrapper.feedback__inputWrapper--email
                  input.feedback__input#feedbackmail(type="text" placeholder="myemail@site.com")
                  .feedback__error
                    .errorform Заполните поле
            .feedback__field
                .feedback__title Сообщение к письму
                .feedback__inputWrapper.feedback__inputWrapper--message
                  textarea.feedback__input.feedback__input--textarea#feedbacktext(name="" placeholder="Привет! Нужна помощь в создании сайта.")
                  .feedback__error
                    .errorform Заполните поле
            button.button Отправить