section.section.section--auto#section-4
        .wrapper
          .reviews
            .reviews__top
              .sectionTitle Что обо мне говорят
              .reviews__arrows
                .arrow__outer
                  a.arrow.arrow--left.arrow--round(href="#")
                    +icon('arrow-down', 'arrow__svg')
                  a.arrow.arrow--right.arrow--round(href="#")
                    +icon('arrow-down', 'arrow__svg')

            .reviews__bottom
              .carousel
                .carousel__inner
                  .carousel__item
                    .rewievItem
                      .rewievItem__quote
                        +icon('quote','rewievItem__svg')
                      .rewievItem__body
                        .rewievItem__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quos adipisci facilis. Fuga, nostrum laudantium!
                        .rewievItem__author
                          .avatar.avatar--smol
                            +image("content/user.jpg","avatar__img")
                          .rewievItem__authInfo
                            .rewievItem__name Ковальчук Дмитрий
                            .rewievItem__position Основатель LoftSchool 
                  .carousel__item
                    .rewievItem
                      .rewievItem__quote
                        +icon('quote','rewievItem__svg')
                      .rewievItem__body
                        .rewievItem__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quos adipisci facilis. Fuga, nostrum laudantium!
                        .rewievItem__author
                          .avatar.avatar--smol
                            +image("content/user.jpg","avatar__img")
                          .rewievItem__authInfo
                            .rewievItem__name Ковальчук Дмитрий
                            .rewievItem__position Основатель LoftSchool