.addb{
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    &__text{
        transition: $basetr;
        color: $adminblue;
        font-weight: 600;
        margin-left: 10px;
    }
}


  