.addlist{

    &__title{
        color: $font;
        line-height: 49px;
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #dedee0;
        padding: 15px 0;
    }
    
    &__input{
        width: 60%;
        &--error{
            .addlist__error{
                display: block;
            }
        }
    }
    
    &__error{
        display: none;
        position: absolute;
    }
}
