.addskill{
    display: flex;
    justify-content: flex-end;
    &__name{
        width: 40%;
    }   

    &__perc{
        margin-left: 10px;
        width: 10%;
    }

    &__submit{
        margin-left: 20px;
        align-self: bottom;
    }


    @include tablets{
        &__name{
            width: 60%;
        }  

        &__perc{
            width: 20%;
        } 
    }
}