.confirm{
    display: flex;

    &__button{
        padding: 8px;
        background-color: transparent;
    }

    &__svg{
        width: 16px;
        height: 16px;
        fill: $opgrey;
        &--yes{
            fill: #00d70a;
        }

        &--no{
            fill: #bf2929;
        }
    }
}