.controlbutton{
    text-decoration: none;
    display: flex;
    align-items: top;
    &__text{
        color: rgba(65, 76, 99, 0.502);
        font-weight: 700;
    }
    &__icon{
        margin-left: 8px;
    }

    &__svg{
        height: 20px;
        width: 20px;
        &--change{
            fill: rgb(27,92,227);
        }

        &--remove{
            fill: #c92e2e;
        }
    }
}
