.inputtext{
    line-height: 46px;
    border: 0;
    border-bottom: 1px solid #000;
    outline: none;
    width: 100%;
    font-weight: 600;
    &::placeholder{
        color: rgba(65, 76, 99, 0.51);
    }
}