.reset{
    padding: 20px 40px;
    font-weight: 700;
    color: rgb(27,92,227);
    background-color: transparent;
    text-decoration: none;

    &--np{
        padding: 0;
    }

    &:hover{
        color: #c92e2e;
    }
}