.submit{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    background: rgb(27,92,227);
    background: linear-gradient(90deg, rgba(27,92,227,1) 0%, rgba(63,53,203,1) 100%);
    padding: 20px 40px;
    border-radius: 40px;
    display: inline-block;

    &:hover{
        background: linear-gradient(90deg, rgba(63,53,203,1) 0%, rgba(27,92,227,1) 100%);
    }
}