.title{
    display: flex;
    align-items: center;
    height: 140px;  


    @include phones{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}