.works{
    &__list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item{
        width: 30%;
        min-height: 400px;
        box-shadow: 5px 3px 20px 0 rgba(0,0,0,.07);
        margin-bottom: 20px;
    }
}