.about{
    display: flex;
    align-self: center;
    font-weight: bold;

    &__right{
        margin-left: 113px;
    }

    // Фото


    // Текст правой части
    &__intro{
        color: $opgrey;
    }

    &__name{
        font-size: 36px;
        padding: 36px 0;
    }

    &__desc{
        color: $opgrey;
        margin-bottom: 100px;
    }

    &__note{
        color: $opgrey;
        font-weight: normal;
        font-style: italic;
    }
    
}

  
  

  