.article{

    &__title{
        font-size: 30px;
        color: $font;
        font-weight: 700;
        margin: 50px 0;
    }

    &__text{
        font-size: 16px;
        line-height: 1.8;
        color: rgba(47, 54, 66, 0.702);
        max-height: 300px;
        overflow: hidden;

    }   
}

