.button{
    display: block;
    background-color: $sthover;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 35px 120px;
    &:hover{
        background-color: rgb(255,138,0);
        background: linear-gradient(90deg, rgba(255,138,0,1) 0%, rgba(255,147,0,1) 30%, rgba(255,157,0,1) 100%);
    }

    @include tablets(){
        margin: 0 auto;
    }
}
