.carousel{
    position: relative;
    width: 900px;
    min-height: 600px;
    overflow: hidden;
    &__inner{
        position: absolute;
        display: flex;
    }
    &__item{
        width: 450px;
    }
}