.carousel{
    position: relative;
    max-width: 900px;
    overflow: hidden;
    &__cell{
        width: 50%;
    }

    @include tablets{
        
    }

    @include phones{
        &__cell{
            width: 100%;
        }
    }
}