.carousel{
    position: relative;
    width: 900px;
    overflow: hidden;
    &__inner{
        position: absolute;
        display: flex;
    }
    &__cell{
        width: 450px;
    }

    @include tablets{
        
    }

    @include phones{
        
    }
}