.errorform{
    font-size: 14px;
    padding: 10px;
    background-color: #cd1515;
    pointer-events: none;
    &:before{
        content: '';
        position: absolute;
        left: 50%;
        top: -77%;
        transform: translateX(-50%);
        border: 15px solid transparent;
        border-bottom: 15px solid #cd1515;
        z-index: 1;
        pointer-events: none;
    }
}