.field{

    &__title{
        font-size: 24px;
        font-weight: 700;
    }

    &__diags{
        display: flex;
        margin: 40px 0;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    @include tablets{
        &__title{
            text-align: center;
        }

        &__diags{
            justify-content: center;
        }
    }
}
