.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.logo{
    display: block;
    font-weight: 900;
    font-size: 36px;
    padding: 15px;
    // transition: $basetr;
    // &:hover{
    //     color: $scrolldown;
    // }
}


