.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    @include tablets{
        .nav{
            display: none;
        }

        .socials{
            display: none;
        }
    }
}



