.sectionTitle{
    font-size: 36px;
    font-weight: 700;
    &--grey{
        color: rgb(51, 60, 73);
    }

    &--margin{
        margin: 70px 0;
    }

    @include tablets(){
        text-align: center;
    }
}
