script(type="text/x-template")#works-container
    .slider
        display(
            v-if="currentWork"
            :works = "works",
            :currentWork = "currentWork",
            :visibleWorks = "visibleWorks",
            :currentIndex = "currentIndex"
            @slide = "handleSlide"
        )   
        info(
            v-if="currentWork"
            :currentWork = "currentWork"
        )

script(type="text/x-template")#works-display
    .slider__left
        .slider__display
            img(:src="`https://webdev-api.loftschool.com/${currentWork.photo}`" class="slider__displayPic")
            preview(
                :works = "works",
                :currentWork = "currentWork",
                :visibleWorks = "visibleWorks"
            )
            buttons(
                @slide= "$emit('slide', $event)"
            )
            .slider__number {{currentIndex+1}}

script(type="text/x-template")#works-info
    .slider__right
        .slider__tags
            tags(
                :tagsArray = "tagsArray"
            )
        .article
            .article__title {{currentWork.title}}
            .article__text {{currentWork.description}}
        .slider__link
            a.link(:href="currentWork.link")
                +icon('link','link__svg')
                span.link__text Посмотреть сайт


script(type="text/x-template")#works-previews
    .slider__slides
        ul.sl
            li.sl__item(v-for="work in visibleWorks" :class="{sl__item_current: work.id == currentWork.id}")
                img(:src="`https://webdev-api.loftschool.com/${work.photo}`" class="sl__img")
                .sl__reactive

script(type="text/x-template")#works-buttons
    .slider__arrows
        .arrow.arrow--left.arrow--sq(@click="$emit('slide', 'prev')", :disabled="true")
            +icon('arrow-down', 'arrow__svg')
        .arrow.arrow--right.arrow--sq(@click="$emit('slide', 'next')")
            +icon('arrow-down', 'arrow__svg')

script(type="text/x-template")#works-tags
    ul.tags
        li.tags__item(v-for="tag in tagsArray") {{tag}}