footer.footer
      .wrapper.wrapper--center.wrapper--flex
        .footer__left
          .footer__year © 2020
          .footer__name Станислав Савиных
          .footer__title Личный сайт веб-разработчика
        .footer__right
          +nav("nav", ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
          .footer__bottom
            .footer__half
              .footer__info
                .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                +socials(["insta", "vk", "github"], "rounded")
            .footer__half
              .quote
                .quote__text Сильный не тот, кто сильный, а тот, кто сильный.
                .quote__author Volk Volk