header.header
    a.logo CC
    +nav("nav", ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
    +socials(["insta", "vk", "github"])
    a.menubutton#headermenu-open
        .menubutton__img

    
        