.parallax
    .parallax__static
    .parallax__full
        .parallax__layer.parallax__layer--1
            +image('parallax/par1.png','parallax__img')
        .parallax__layer.parallax__layer--2
            +image('parallax/par2.png','parallax__img')
        .parallax__layer.parallax__layer--3
            +image('parallax/par3.png','parallax__img')
        .parallax__layer.parallax__layer--4
            +image('parallax/par4.png','parallax__img')
        .parallax__layer.parallax__layer--5
            +image('parallax/shadow.png','parallax__img')