.sidemenu#sidemenu
    .sidemenu__close(href="")#headermenu-close
        +icon('remove','sidemenu__remove')
    +nav("nav", ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"], "--side")
    +socials(["insta", "vk", "github"])
    
