.sidemenu#sidemenu
    .sidemenu__close(href="")#headermenu-close
        +icon('remove','sidemenu__remove')
    +nav("nav nav--side", ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
    +socials(["insta", "vk", "github"])
    
