<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | admin
  body
    section.admin
    //- кидаемся иконками
    - var tick = require(`../images/icons/tick.svg`);
    - var tick = require(`../images/icons/remove.svg`);
    - var tick = require(`../images/icons/trash.svg`);
    - var tick = require(`../images/icons/pencil.svg`);
      //- закончили кидаться
      #app-root