include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Станислав Савиных | Портфолио
  body
    //- Задний фон
    .parallax
    
    //- Стартовая секция
    section.section
      .wrapper.wrapper--center
        header.header
          a.logo CC
          +nav("nav", ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
          +socials(["insta", "vk", "github"])

        .title
          h2.title__h2 Личный сайт веб разработчика
          h1.title__h1 Станислав 	&nbsp;Савиных

        a.scrolldown Скролл
          +icon("scroll", "scrolldown__svg")
    
    .section.section--intermediate

    //- Секция "Обо мне"
    section.section.section--about
      .wrapper.wrapper--center.wrapper--flex
        .about
          .about__left
            .avatar
              +image("content/user.jpg","avatar__img")
            table.info
              tr.info__item
                td.info__arg  Проживаю:
                td.info__val  Санкт-Петербург
              tr.info__item
                td.info__arg  Возраст:
                td.info__val  23
              tr.info__item
                td.info__arg  Родился:
                td.info__val  25 февраля 1996
          .about__right
            .about__intro Привет, меня зовут
            .about__name Станислав Савиных
            .about__desc Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about__note Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.

    //- Секция "Умения"
    section.section.section--skills.section--relative
      +image("content/arms.png","arms")
      .wrapper.wrapper--center.wrapper--flexCenter
        .desc
          .sectionTitle.sectionTitle--margin Чем я могу быть полезен вам
          .desc__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam repellendus, quam at dignissimos repellat doloremque in inventore tempore tempora voluptate voluptas voluptatum necessitatibus earum. Iste?

        .skills
          .field
            .field__title Front-end
            .field__diags
              -var techs = [[55,"HTML5"],[41,"CSS3"],[22,"JavaScript"],[94,"Vue"]]
              each tech in techs
                +diagram(tech[0], tech[1])
          .field
            .field__title Workflow
            .field__diags
              -var techs = [[19,"Git"],[99,"Terminal"],[74,"Gulp"],[49,"Webpack"]]
              each tech in techs
                +diagram(tech[0], tech[1])  

    //- Секция "Мои работы"
    section.section
      .wrapper.wrapper--center
        .sectionTitle.sectionTitle--margin.sectionTitle--grey Мои работы
        .content
          .slider
            .slider__left
              .slider__display
                +image("content/previews/1.jpg","slider__displayPic")
                .slider__slides
                  -var previews = ['1','2','3','4','5']
                  -var current = '5'
                  ul.sl
                    each pv in previews
                      if pv == current
                        li.sl__item.sl__item--current
                          +image(`content/previews/${pv}.jpg`,"sl__img")
                          .sl__reactive
                      else
                        li.sl__item
                          +image(`content/previews/${pv}.jpg`,"sl__img")
                          .sl__reactive
                .slider__arrows
                  .arrow.arrow--left.arrow--sq
                    +icon('arrow-down', 'arrow__svg')
                  .arrow.arrow--right.arrow--sq
                    +icon('arrow-down', 'arrow__svg')
            .slider__right
              .slider__tags
                ul.tags
                  li.tags__item HTML
                  li.tags__item CSS
                  li.tags__item JavaScript 
              .article
                .article__title Сайт школы образования
                .article__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, rerum, at cupiditate provident debitis quis est tempore tempora corrupti fugit fugiat excepturi quidem earum ab.
              .slider__link
                a.link
                  +icon('link','link__svg')
                  span.link__text Посмотреть сайт

    //- Сдвоенная секция
    .doubleSection
      +image("content/leaves.png","leaves")
      //- Секция "Что обо мне говорят"
      section.section.section--auto
        .wrapper.wrapper--center
          .reviews
            .reviews__top
              .sectionTitle Что обо мне говорят
              .reviews__arrows
                .arrow__outer
                  a.arrow.arrow--left.arrow--round(href="#")
                    +icon('arrow-down', 'arrow__svg')
                  a.arrow.arrow--right.arrow--round(href="#")
                    +icon('arrow-down', 'arrow__svg')

            .reviews__bottom
              .carousel
                .carousel__inner
                  .carousel__item
                    .rewievItem
                      .rewievItem__quote
                        +icon('quote','rewievItem__svg')
                      .rewievItem__body
                        .rewievItem__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quos adipisci facilis. Fuga, nostrum laudantium!
                        .rewievItem__author
                          .avatar.avatar--smol
                            +image("content/user.jpg","avatar__img")
                          .rewievItem__authInfo
                            .rewievItem__name Ковальчук Дмитрий
                            .rewievItem__position Основатель LoftSchool 
                  .carousel__item
                    .rewievItem
                      .rewievItem__quote
                        +icon('quote','rewievItem__svg')
                      .rewievItem__body
                        .rewievItem__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quos adipisci facilis. Fuga, nostrum laudantium!
                        .rewievItem__author
                          .avatar.avatar--smol
                            +image("content/user.jpg","avatar__img")
                          .rewievItem__authInfo
                            .rewievItem__name Ковальчук Дмитрий
                            .rewievItem__position Основатель LoftSchool
                  .carousel__item
                    .rewievItem
                      .rewievItem__quote
                        +icon('quote','rewievItem__svg')
                      .rewievItem__body
                        .rewievItem__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quos adipisci facilis. Fuga, nostrum laudantium!
                        .rewievItem__author
                          .avatar.avatar--smol
                            +image("content/user.jpg","avatar__img")
                          .rewievItem__authInfo
                            .rewievItem__name Ковальчук Дмитрий
                            .rewievItem__position Основатель LoftSchool
      //- Секция форма обратной связи
      section.section.section--auto
        .wrapper.wrapper--center
          .sectionTitle.sectionTitle--margin Связаться со мной
          form.feedback(action="")
            .feedback__row
              .feedback__field.feedback__field--smol
                .feedback__title Введите ваше имя
                +icon("user","feedback__svg")
                input.feedback__input(type="text")
              .feedback__field.feedback__field--smol
                .feedback__title Введите ваш Email
                +icon("envelope","feedback__svg")
                input.feedback__input(type="text")
            .feedback__field
                .feedback__title Сообщение к письму
                +icon("message","feedback__svg")
                textarea.feedback__input.feedback__input--textarea(name="")
            button.button Отправить
    footer.footer
      .wrapper.wrapper--center.wrapper--flex
        .footer__left
          .footer__year © 2020
          .footer__name Станислав Савиных
          .footer__title Личный сайт веб-разработчика
        .footer__right
          +nav("nav", ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
          .footer__bottom
            .footer__half
              .footer__info
                .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                +socials(["insta", "vk", "github"], "rounded")
            .footer__half
              .quote
                .quote__text Сильный не тот, кто сильный, а тот, кто сильный.
                .quote__author Volk Volk